
@code {
    [Parameter]
    public Album album { get; set;}
}

<p><b>Name: </b> @album.Name</p>
<p><b>Artist: </b> @album.Artist</p>
<p><b>Release: </b> @album.Released</p>
<p><b>Genre: </b> @album.Genre</p>
<p><b>Information: </b> @album.Information</p>
<p><b>Ref#: </b> @album.Id</p>



